<h1 class="h1home">My Story</h1>

<div class="about-box">
    <img class="imgs" src="https://static.messi.com/wp-content/uploads/2019/10/infancia1.jpg" alt="Messi">
<p>Lionel Messi was born, 24 June 1987, in Rosario, Argentina to a working-class family. His father was a factory steel
    worker, and his mother a cleaner.

    He began playing from an early age, and his talent was soon apparent. However, at the age of 11, Messi was diagnosed
    with growth hormone deficiency (GHD). This was a condition that stunted growth and required expensive medical
    treatment, including the use of the drug Human growth hormone.

    His local club, River Plate were interested in signing Messi but didn’t want to pay for his medical treatment.
    However, Messi was given a trial with Barcelona, and coach Carles Rexach was impressed – offering Messi a contract
    (written on a paper napkin!) which included paying for Messi’s treatment in Spain. Messi moved to Barcelona with his
    father and became part of the prestigious FC Barcelona youth academy.</p>

<img class="imgs" src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(webp):focal(1329x525:1331x523)/origin-imgresizer.eurosport.com/2016/06/19/1879542-39587833-2560-1440.jpg" alt="Messi">
<p>Messi progressed through the ranks and was given his first appearance in the 2004/05 season becoming the youngest
    player to score a league goal. In 2006, Messi was part of the double winning team which won both La Liga (Spanish
    League) and Champions League. By next season, (2006-07) aged just 20, Messi was the first choice striker and an
    essential part of the Barcelona team – scoring 14 goals in 26 league games.

    In the 2009-10 season, Messi scored 47 goals in all competitions, equalling Ronaldo’s record total for Barcelona. As
    the seasons have progressed, Messi kept improving and breaking his own records. In the calendar year of 2012, he
    broke the all-time world record for most goals scored in a calendar year. His final total of goals in 2012 was 91 –
    beating the previous record of 85 by German Gerd Muller, and Pele’s milestone of 75 in 1958.</p>


<img class="imgs" src="https://i.imgur.com/9rOJPyE.jpg" alt="Messi">
<p>At the start of 2013, in club football, Messi has scored 292 goals from a total of 359 appearances, and in
    international football, 31 goals from 76 appearances.

    At the end of 2012, Messi turned down a very lucrative offer to play for an unnamed Russian side. It would have
    given Messi a salary of €20 million a year and made Messi the most expensive player in the world (Barcelona would
    have been paid €250 million). He turned down the offer because he was unsure if he would be playing in major
    European championships and the difficulties in moving to Russia. Instead, he signed a contract with Barcelona until
    the end of 2018. When asked about moving to the English Premier League, Messi revealed his sense of commitment to
    Barcelona.</p>
    </div>